
@model IEnumerable<Student>;

<div>Student List</div>
<div class="d-flex justify-content-center">
    <a asp-action="AddStudent" class=" d-flex justify-content-center w-75" style="text-decoration:none ; color:black!important"><button type="button" class="btn btn-info text-black m-2 w-75">ADD</button></a>
</div>

<table  class="table table-info table-striped">
            
        <tr>
            <th colspan="7">Student</th>
        </tr>

        <tr>
            <td>Name</td>
            <td>Course</td>
            <td>Admission Date</td>
            <td>Email</td>
            <td>GPA</td>
            <td>Details</td>
        <td>Edit</td>
            
        </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td>@student.GPA</td>
            <td><a asp-action="ShowDetail" asp-route-id="@student.Id" style=" text-decoration:none ; color:black!important"> <button type="button" class="btn btn-info text-black m-2 w-75"> Show Details </button></a></td>
            <td><a asp-action="Edit" asp-route-id="@student.Id" style=" text-decoration:none ; color:black!important"> <button type="button" class="btn btn-info text-black m-2 w-75"> Edit </button></a></td>
        </tr>
    }
</table>
